<span style="font-weight:bold;font-size:1.5em">
  User description
</span>

<hr>

<div class="col-md-6">
  <dl class="row col-md-12" style="float:left">
    <dt class="col-sm-4">User ID</dt>
    <dd class="col-sm-8">{{user.id}}</dd>

    <dt class="col-sm-4">First Name</dt>
    <dd class="col-sm-8">{{user.firstname}}</dd>

    <dt class="col-sm-4">Last Name</dt>
    <dd class="col-sm-8"> {{user.lastname}}</dd>

    <dt class="col-sm-4">Email</dt>
    <dd class="col-sm-8">{{user.email}}</dd>

    <dt class="col-sm-4 text-truncate">Phone Number</dt>
    <dd class="col-sm-8">{{user.phone}}</dd>

    <dt class="col-sm-4 text-truncate">Activated</dt>
    <dd class="col-sm-8">{{user.actived}}</dd>

    <dt class="col-sm-4">Roles</dt>
    <dd class="col-sm-8">
      <dl class="row">
      <span  *ngFor="let role of user.roles">
        <dd class="col-sm-2">{{role.roleName}}</dd>
      </span> 
      </dl>
    </dd>
  </dl>
</div>