<a  style="float:left;cursor: pointer"
    class="btn"    
    (click)="back()">
    &#x2699;       
</a>
<span style="font-weight:bold;font-size:1.3em">
  Services configuration
</span>
<hr> 
<div class="container">
  <div class="row">
      <span class="card border-light mb-3" style="max-width: 18rem;"
      (click)="getConfig('uaa-service')" *ngIf="!hasConfig">
  <div class="card-header">uaa-service</div>
  <div class="card-body">
    <h5 class="card-title">User Account and Authentication</h5>
    <p class="card-text">configure database of users, jwt and more...</p>
  </div>
</span>
&nbsp;&nbsp;&nbsp;&nbsp;
<span class="card border-light mb-3" style="max-width: 18rem;float:right;"
  (click)="getConfig('discovery-service')" *ngIf="!hasConfig">
  <div class="card-header">discovery-service</div>
  <div class="card-body">
   <h5 class="card-title">discovery service configuration</h5>
  </div>
</span>

  </div>
 

  <table class="table table-bordered table-responsive-md col-md-5" *ngIf="hasConfig">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>  {{actualConfig}}</td>
      </tr>
    </tbody>
  </table>

<br>

  <div id="table" class="table-editable">
    <table class="table table-bordered table-responsive-md" *ngIf="hasConfig">
      <thead class="thead-light">
        <tr>
          <th scope="col" >Property Name</th>
          <th scope="col" >Value</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let config of configList ; let id = index">
            <td>  {{config[0]}}</td>
            <td>
                <span (keyup)="changeValue(id, $event)" contenteditable="true">
                    {{config[1]}}
                </span>
                <a style="cursor: pointer;float:right"    
                     (click)="showDeleteSwal.show();"                
                      >&#10060;           
                </a>
                <swal #showUpdateSwal
                      title="Updating configuration !"
                      [text]=" 'Are you sure to update : ' + config[0] + ' from configuration ?'"
                      type="info"
                      [showCancelButton]="true"
                      [focusCancel]="true"
                      (confirm)="update(config[0])"
                 ></swal>
                <a style="float:right;cursor: pointer" 
                    (click)="showUpdateSwal.show();"          
                    >&#9998;
                </a>
                <swal #showDeleteSwal
                        title="Removing configuration !"
                        [text]=" 'Are you sure to delete : ' + config[0] + ' from configuration ?'"
                        type="warning"
                        [showCancelButton]="true"
                        [focusCancel]="true"
                        (confirm)="delete(config[0])"
                 ></swal>

            </td>
        </tr>
      </tbody>
    </table>

  </div>
  <button style="float:right" class="btn btn-success"  *ngIf="hasConfig" 
          (click)="showSwal.show();">
    Add
  </button>
  <swal title="Add Config" (confirm)="addConfig()" #showSwal>
      <form [formGroup]="addingForm"  *swalPartial>
          <div class="form-group">
              <label for="key">Key</label>
              <input type="text" formControlName="key" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.key.errors }" />
              <div *ngIf="submitted && f.key.errors" class="invalid-feedback">
                  <div *ngIf="f.key.errors.required">Key is required</div>
              </div>
          </div>
          <div class="form-group">
              <label for="value">Value</label>
              <input type="text" formControlName="value" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.value.errors }" />
              <div *ngIf="submitted && f.value.errors" class="invalid-feedback">
                  <div *ngIf="f.value.errors.required">Value is required</div>
              </div>
          </div>

          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      </form>
      <!-- This targets the confirm button's inner content
           Notice the usage of ng-container to avoid creating an useless DOM element inside the button -->
      <ng-container *swalPartial="swalTargets.confirmButton" ng-click="submit()">
          CONFIRM
      </ng-container>
    </swal>
 
</div>


