<div class="row position-fixed col-md-2" style="margin-left: -34%">
    <ul class="nav flex-column bg-light text-dark col-md-12" style="float:left;min-height:92vh;padding-top:10%">
        <button class="nav-item btn active text-left">
           Users
          </button>           
        <button class="nav-item btn active text-left">
           Documents
        </button>
        <button class="nav-item btn active text-left">
          Notifications
        </button>
        <li> <hr></li>
      
  </ul>
</div>

<div class="col-md-12" style="margin-top:2%;float:left;margin-left: -25%;">

    <h1 class="text-center">Users</h1>
    <p>You're logged in as Admin </p>
    <div *ngIf="users">
        
        All users from secure (admin only) api end point:
    <ul >
        <li *ngFor="let user of users">{{user.firstname}} {{user.lastname}}</li>
    </ul>
    </div>

</div>