  
  <div class="row position-fixed col-md-2" style="margin-left: -34%">
          <ul class="nav flex-column bg-light text-dark col-md-12" style="float:left;min-height:92vh;padding-top:10%">
              <button class="nav-item btn active text-left">
                 Inbox
                </button>           
              <button class="nav-item btn active text-left">
                 Sent
              </button>
              <button class="nav-item btn active text-left">
                Completed
              </button>
              <li> <hr></li>
              <button class="nav-item btn active text-left">
                Actions required
              </button>
              <button class="nav-item btn active text-left">
                Waiting for others
              </button>
              <button class="nav-item btn active text-left">
                Expiring soon
              </button>
        </ul>
    </div>
    <div class="col-md-12" style="margin-top:2%;float:left;margin-left: -25%;">
    <h2>Inbox</h2>
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Description</th>
            <th scope="col">Task name</th>
            <th scope="col">Process Id</th>
            <th scope="col">Process Time</th>

          </tr>
        </thead>
        <tbody *ngIf="tasks">
          <tr  *ngFor="let task of tasks"  
              (click)="open(content,task.processInstanceId,task.taskDefinitionKey)" >
              <td>  {{task.description}}</td>
              <td> {{task.taskDefinitionKey}}</td>
              <td> {{task.processInstanceId}}</td>   
              <th scope="row">{{task.createTime.split('T')[0]}} à {{ (task.createTime.split('T')[1]).split('.')[0]}}</th>     
          </tr>
        </tbody>
      </table>

  
    <ng-template #content let-modal >
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Document to sign</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row col-md-12  overflow-auto" style="height:70vh;" *ngIf="isTaskActive">
                <!-- <div class="col-md-12" style="margin-top:4%;
                height:70vh;float:left;"> -->
                    <pdf-viewer 
                        [src]="pdfB64" 
                        [render-text]="true"
                        style="display: block;max-width:150vh"
                        [original-size]="false"
                        [autoresize]="true"
                        [fit-to-page]="true"
>
                    </pdf-viewer>
                <!-- </div> <br>               -->
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" (click)="validateSigning();modal.close('')">SIGN</button>&nbsp;
            <button class="btn btn-danger" (click)="decliningSigning();modal.close('')">DECLINE</button>
        </div>
        <swal #showSwal
              [title]="dataToSend.validateConditions ? 'Signing Process completed':
                      'Signing Process refused' "
              [text]="dataToSend.validateConditions ? 'Documents has been signed ! ':
                    'Documents has been rejected !'"
              [type]="dataToSend.validateConditions ? 'success':'warning'"
              [focusCancel]="true"
              (confirm)="swalProcess(showSwal)"
        ></swal>
      </ng-template>
      
      <!-- <button class="btn btn-lg btn-outline-primary">Launch demo modal</button> -->
      
      <!-- <pre>{{closeResult}}</pre> -->

   <br>
   
 </div>

