.nav-item:hover{
    background-color: rgba(163, 197, 219, 0.781) !important;
    width: 108%;
}

.list-group-item:hover{
    background-color: rgba(163, 197, 219, 0.781) !important;
    width: 100%;
}

.myCustomModalClass .modal-dialog {
    max-width: 900px;
  }

  ::ng-deep .modal-content{
    width:125%;
}


tr:hover {
    cursor: pointer;
}