<!-- nav -->
<nav class="navbar navbar-expand fixed-top navbar-dark "  style="background-color: #0d2744" *ngIf="isAuthenticated()">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="active">
                <a class="nav-item nav-link" routerLink="/home" >Home</a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li >
                  <a class="nav-item nav-link" routerLink="/admin"  *ngIf="isAdmin()">Admin</a>
            </li>
            <li>
                <a class="nav-link pull-right" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron container" style="background-color: #fff;">
    
    <div class="container-fluid col-md-10">
        
        <div class="row">
            <div class="col-md-11 offset-md-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- footer-->
<footer class="page-footer fixed-bottom" style="background-color: #0f223b;text-align:right;font-size:0.7em" *ngIf="isAuthenticated()">
    <div class="navbar-nav">
        <a class="nav-item nav-link"  style="color:darkgray;" routerLink="">MAIL HUB PORTAL&nbsp;&nbsp;</a> 
    </div>
</footer>